@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");

/* .hero {
} */

.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}

.hero__title-section,
.hero__about-section {
  background-color: var(--color-lightBlue);

  border-radius: 1rem;
  margin: 0rem 0rem 2rem 0rem;
}

.hero__title-section {
  grid-column: 1/ 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.hero__title-center {
  text-align: center;
  max-width: 700px;
  width: 100%;
}

.hero__title {
  font-family: "Mulish";
  font-size: 6rem;
  margin-left: 3rem; /*för att centrera bredvid bilden*/
  border-bottom: 0.5rem solid var(--color-pink);
  display: inline-block;
  width: fit-content; /*gör att bordern endast hamnar under texten*/
  white-space: nowrap;
}

.hero__subtitle {
  font-family: var(--font-Arimo);
  font-size: 2.08rem;
  font-weight: 100;
  margin-left: 3rem; /*för att centrera bredvid bilden*/
  padding: 0.5rem 0rem 0rem 0rem;
}
/*Profilbild*/

.img__profil-sectiion {
  position: relative;
  width: fit-content;
  /*margin-left: -350px;  gör att bilden går in över boxen */
  margin-top: 40px; /* flyttar ner bilden */
  margin-right: 40px;
  grid-column: 3;
  grid-row: 1 / span 2;
  display: inline-block;
  align-self: start;
}

.img__border {
  border: 0.2rem solid var(--color-pink);
  border-radius: 1rem;
  position: absolute;
  /* width: 100%;
  height: 100%; */
  inset: 0;
  transform: translate(15px, -15px);
}

.img__profil {
  max-width: 300px;
  display: block;
  border-radius: 1rem;
}
/*Profilbild slutar*/

.hero__about-text {
  font-family: var(--font-Kulim);
  font-size: 1.125rem;
}
.hero__nav-section {
  grid-column: 1/4;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-lightBlue);
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 1rem;
  margin: 2rem 0rem 0rem 0rem;
}
.hero__nav {
  font-family: var(--font-Kulim);
  font-weight: 600;
  font-size: 25px;
  background-color: var(--color-pink);
  color: white;
  text-decoration: none;
  padding: 0.7rem 0rem 0.5rem 0rem;
  border-radius: 1rem;
  width: 33%;
  text-align: center;
}

.hero__nav:hover {
  background-color: rgb(228, 40, 112);
  /* #930139 */
  font-size: 26px;
}

/* .nav__ikon-section {
} */

.nav__ikon {
  width: 3rem;
}

.nav__ikon:hover {
  background-color: rgb(239, 91, 148);
  border-radius: 1rem;
  cursor: pointer;
}

.hero__about-section {
  grid-column: 1 / 3;
  grid-row: 2;
  min-height: 25rem;
  padding: 2rem;
  margin: 0rem 2rem 0rem 0rem;
}

@media (max-width: 1100px) {
  .hero__title-section {
    justify-content: start;
  }

  .hero__title-center {
    text-align: start;
  }

  .hero__title {
    font-size: 5rem;
    margin: 0;
  }

  .hero__subtitle {
    margin-left: 0rem;
    font-size: 1.8rem;
    margin-left: 1rem;
  }
}

@media (max-width: 930px) {
  .hero__title-center {
    text-align: center;
  }
  .img__profil {
    max-width: 200px;
  }

  .img__profil-sectiion {
    margin-top: 0px; /* flyttar ner bilden */
    margin-right: 0px;
    margin-left: 0px;
    /* display: contents; */
    position: relative;
    grid-row: 2 / span 2;
  }

  .img__border {
    position: absolute;
  }

  @media (max-width: 700px) {
    .hero__nav {
      font-size: 20px;
    }

    .hero__about-section {
      padding: 1rem;
      /* margin: 0rem 2rem 0rem 0rem; */
    }
    .hero__about-text {
      font-size: 1rem;
    }
  }
}

@media (max-width: 700px) {
  .hero__title {
    font-size: 4rem;
  }
  .hero__subtitle {
    margin-left: 0rem;
    font-size: 1.3rem;
    /* margin-left: 1rem; */
  }
}
