.footer {
  background-color: var(--color-lightBlue);
  padding: 3rem 2rem;
  margin-top: 5rem;
  border-radius: 1rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.footer__name {
  font-family: var(--font-Kalnia);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-pink);
}

.footer__role {
  font-family: var(--font-Kulim);
  font-size: 1rem;
}

.footer__links {
  display: flex;
  gap: 2rem;
}

.footer__links a {
  text-decoration: none;
  font-family: var(--font-Kulim);
  font-weight: 600;
  color: var(--color-pink);
  transition: 0.2s;
}

.footer__links a:hover {
  opacity: 0.6;
}
